<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Add new user</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<body>

<br>
<br>
<div class = "container">
  <div class = "row">
    <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
      <h1 class = "text-center"> Create New Secret </h1>
      <div class = "card-body">
        <form th:action="@{/secret}" th:object = "${secret}" method="POST">
          <div class ="form-group">
            <label> Secret Text </label>
            <input type="text" th:field="*{secretText}" th:required="required"/><br/>
            <label> Expires After (minutes) </label>
            <input type="text" th:field="*{expiresAt}" th:required="required"/><br/>
            <label> Remaining Views </label>
            <input type="text" th:field="*{remainingViews}" th:required="required"/><br/>
          </div>
          <div class = "box-footer">
            <button type="submit" class = "btn btn-primary">
              Submit
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
</body>
</html>